
{{#each projects as |project|}}
      <div class="uk-padding-small">
        <h3>uploaded by: {{user.name}}</h3>
        <p>name: {{name}}</p>
        <p>maker: {{maker}}</p>
        <p>grape: {{grape}}</p>
        <p>vintage date: {{vintage_date}}</p>
        <p>ABV: {{abv}}</p>
        <p>Rating: {{rating}}</p>
      </div>
    {{/each}}