<div class="uk-padding-small">
  <h3>dispaly pls</h3>
  <p>name: {{name}}</p>
  <p>maker: {{maker}}</p>
  <p>grape: {{grape}}</p>
  <p>vintage date: {{vintage_date}}</p>
  <p>abv: {{abv}}</p>
  <p>rating: {{rating}}</p>
</div>

